<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chauffeur</title>
    <link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css">
</head>
<body>

    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><%= mtitle %></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Acceuil</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/secretaire">Secrétaire</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/chauffeur">Chauffeur</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="class">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>Envoie informations ticket</h1>
                    <form action="/chauffeur/postTicket" method="post">
                        <select class="form-control" name="numCarte" id="numCarte">
                            <option>Numéro de carte</option>
                            <% data.cartes.forEach(carte => { %>
                                <option value="<%= carte.numero_carte %>"><%= carte.numero_carte %></option>
                            <% }) %>
                        </select><br>
                        <input class="form-control" type="text" name="numTicket" id="numTicket" placeholder="Numéro de ticket (TPE)"><br>
                        <input class="form-control" type="number" name="montant" id="montant" placeholder="Montant (Ar)"><br>
                        <input class="form-control" type="number" name="litrage" id="litrage" placeholder="Litre de carburant"><br>
                        <input class="btn btn-success" type="submit" value="Envoyer">
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script src="/public/javascripts/js/bootstrap.min.js"></script>
</body>
</html>