<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css">
</head>
<body>

  <!-- Navigation bar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><%= mtitle %></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Acceuil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Secrétaire</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/chauffeur">Chauffeur</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

    <br><br>
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h1>Bon de commande</h1><br>
          <form action="">
            <input class="form-control" type="text" placeholder="Date"><br>
            <input class="form-control" type="text" placeholder="Numéro de facture"><br>
            <input class="form-control" type="number" placeholder="Litrage"><br>
            <select class="form-select" type="text">
              <option selected>Type de carburant</option>
              <option value="1">3400 Ar</option>
              <option value="2">4100 Ar</option>
            </select><br>
            <input class="btn btn-success" type="button" value="Generer">
          </form><br>
        </div>
        <div class="col-6">
          <h1>Carte gasoil</h1><br>
          <form action="">
            <input class="form-control" type="text" placeholder="Numéro de carte"><br>
            <input class="form-control" type="text" placeholder="Numéro de ticket (TPE)"><br>
            <input type="button" class="btn btn-success" value="Génerer">
          </form><br>
        </div>
      </div>

      <h1>Mis à jour carte gasoil</h1>
      <form action="">
        <select class="form-select" type="text">
          <option selected>N° carte gasoil</option>
          <option value="1">...</option>
        </select><br>
      </form>
      <div class="row">
        <div class="col-6">
          <input class="form-control" type="datetime-local" name="" id="">
        </div>
        <div class="col-6">
          <input class="form-control" type="text" name="balance" id="balance" placeholder="Balance">
        </div>
      </div><br>
      <input class="btn btn-success" type="button" value="Enregister les modifications"><br><br>

      <h1>Fiche technique pneus</h1><br>
      <form action="">
        <select class="form-select" type="text">
          <option selected>Séléctionner le camion</option>
          <option value="1">Camion 1</option>
          <option value="2">Camion 2</option>
          <option value="3">Camion 3</option>
        </select><br>
        <select class="form-select" type="text">
          <option selected>Position du pneu</option>
          <option value="1">Left 1</option>
          <option value="2">Left 2</option>
          <option value="3">Left 3</option>
          <option value="4">Left 4</option>
          <option value="5">Left 5</option>
          <option value="6">Left 6</option>
          <option value="7">Right 1</option>
          <option value="8">Right 2</option>
          <option value="9">Right 3</option>
          <option value="10">Right 4</option>
          <option value="11">Right 5</option>
          <option value="12">Right 6</option>
        </select><br>
        <input class="form-control" type="text" name="" id="" placeholder="Référence"><br>
        <input class="btn btn-success" type="button" value="Valider">
      </form><br>

      <!-- Facture -->
      <h1>Facture</h1>
      <div class="row">
        <div class="col-6">
          <select class="form-select" type="text">
            <option selected>Type de carburant</option>
            <option value="1">3400 Ar</option>
            <option value="2">4100 Ar</option>
          </select><br>
        </div>
        <div class="col-6">
          <input class="form-control" type="number" name="litrage" id="litrage" placeholder="Litrage">
        </div>
        <div class="row">
          <div class="col-6">
            <input class="form-control" type="datetime-local" name="" id="">
          </div>
          <div class="col-6">
            <input class="form-control" type="text" name="balance" id="balance" placeholder="ID Facture">
          </div>
        </div><br><br>
        <div class="row">
          <div class="col-4">
            <div class="form-control">
              <h3><b>TOTAL : </b> 0000 Ar</h3>
            </div>
          </div>
          <div class="col-2">
            <input class="btn btn-success" type="button" value="Génerer">
          </div>
        </div>
      </div>
      
    </div><br>

    

    <script src="/public/javascripts/js/bootstrap.min.js"></script>
    <script src="/public/javascripts/js/bootstrap.js"></script>
</body>
</html>